@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#Lname, #Lpass{
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#Lname, #Lpass:focus{
    outline: none;
}

#Lsub{
    border: none;
    padding: 8px;
    cursor: pointer;
}

#Lsub:hover{
    background-color: rgb(180, 170, 170);
}

p > span{
    display: none;
    color: rgb(195, 0, 0);
}

